
<div class="modal-header">
    <h4 class="modal-title">Delete existing brand</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="activeModal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="brandForm" novalidate (submit)="delete()">
    <div class="form-group">
        <label for="Name">Name:</label>
        <input type="text" class="form-control" id="Name" formControlName="brandName" readonly>
      </div>
      <div class="form-group">
        <label for="desc">Description:</label>
        <input type="text" class="form-control" id="desc" formControlName="brandDescription" readonly>
      </div>

      <p>Аre you sure want to delete this brand?</p>

  </form>

  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn"
      (click)="activeModal.close('Close click')"
    >
      Close
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="delete()"
    >
    Save changes
    </button>
  </div>